*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', 'sans-serif';
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #374151;
    color: white;
}
header{
    padding: 32px 16px;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 40px;
    font-weight: 300;
    color: #6B7280;
    margin-bottom: 16px;
}
#new-task-form{
    display: flex;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: #1F2937;
    padding: 16px;
    border-radius: 16px;
    margin-right: 16px;
    color: #eee;
    font-size: 20px;
}
#new-task-submit{
    color: #ec4899;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to right, #ec4899, #8B5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main{
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 16px;
}
.task-list h2{
    font-size: 24px;
    font-weight: 300;
    color: gray;
    margin-bottom: 16px;
}
#tasks .task{
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}
#tasks .task .content{
    flex: 1 1 0%;
}
#tasks .task .content .text{
    color:#fff;
    font-size: 18px;
    width: 100%;
    display: block;
}
#tasks .task .actions{
    display: flex;
    margin: 0 -8px;
}
#tasks .actions button {
    margin: 0 8px;
    font-size: 18px;
    font-weight: 700px;
    text-transform: uppercase;
}
#tasks .actions .edit{
    background-image: linear-gradient(to right, #ec4899, #8B5cf6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#tasks .actions .delete{
    color: crimson;
}